.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  /* width: min(100%, 700px);
  margin-inline: auto; */
  height: 100vh;
  background-color: #000;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  color: white;
  font-size: 100px;
}

.url {
  width: 50vw;
  border: #fff;
  border-width: 5px;
  border-style: solid;
  background: #000;
  appearance: none;
  padding: 12px;
  border-radius: 4px;
  font-size: 20px;
  color: white;
}

.button {
  margin: 20px;
  color: white;
  font-size: 30px;
  width: 20vw;
  height: 60px;
  border-radius: 4px;
  border-style: none;
  background-color: rgb(255, 59, 216);
}